# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
    editor = subl --wait
    pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
[user]
    name = Raja Doake
    email = rdoake@gmail.com
[color]
    diff = auto
    status = auto
[log]
    decorate = short
[merge]
    conflictstyle = diff3
[push]
    default = simple
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    ll = !git lg --all
    pushsafe = push --force-with-lease
    # Prune any dangling tracking branches, and any local branches that are supposed to sync to them
    pruneitgood = "!f() { \n\
        git remote prune origin; \n\
        git branch -vv | perl -nale 'system(qw(git branch -d), $F[0]) if $F[3] eq q{gone]}'; \n\
    }; f"
    changelog = log --graph --no-color --pretty=format:'%s [%h]'
    publish = !git push -u origin `git symbolic-ref HEAD | sed -e "s#^refs/heads/##"`
    # fetch a branch 1 we aren't on, then rebase our branch 2 on it
    # if you have git-extras, you can replace fetch/rebase with sync
    resync = "!f() { \n\
        git stash; \n\
        git fetch ${1} ${2}:${2}; \n\
        git rebase ${2}; \n\
        git stash pop; \n\
    }; f"
[rerere]
    enabled = true
[fetch]
    prune = true
[pull]
    rebase = false
